#! /usr/bin/env nextflow

nextflow.enable.dsl=2

// for modules, use "addParams"

params {
  seqmet_pairs="*_{sequence.fasta, metadata.tsv}"
  configfile_yaml="*  
  docker_image="nextstrain/base:latest"
  pathogen_giturl="https://github.com/nextstrain/ncov/archive/refs/heads/master.zip"
  s3deploy=""
}

// set environment variables
env {
  augur_app = "augur" // paramterize this later
  nextstrain_app = "nextstrain" 
}

profiles {
  docker {
    docker.enabled=true
    docker.runOptions = '-u \$(id -u):\$(id -g)'

  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
}

process {
  container = "${params.docker_image}"
}

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}

manifest {
  description = "pubweb test drive"
  author = 'j23414'
}